<div class="container-fluid card p-4 m-2">
  <div class="row">
    <mat-icon>group add</mat-icon>
    <span class="titulo">Cadastro cliente</span>
  </div>
</div>


<div class=" container m-1" >
  
<form [formGroup] = "cadastroForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName = "nome" placeholder="Digite o nome do cliente">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="celular">Celular</label>
        <input type="tel" class="form-control" id="celular" formControlName= "celular"placeholder="Celular com DDD">
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="sexo">Sexo</label>
            <select id="sexo" class="form-control" formControlName = "sexo"  >
              <option selected>Sexo cliente</option>
              <option *ngFor = "let op of sexos ">{{ op.sexo}}</option>
            </select>
          </div>
       <div class="form-group col-md-2">
          <label for="idade">Idade</label>
          <input type="text" class="form-control" id="idade" formControlName = "idade" >
       </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Cadastrar cliente</button>



</form>
</div>